BODY {
    margin-left: 50%;
    width: calc(100% - 20px);
    max-width: 1000px;
    transform: translate(-50%, 0);
    background: URL(/assets/img/background.png);
}

TEXTAREA {
    resize: none;
}

.margins {
    margin-top: 10px;
}

#prefix {
    width: calc(50% - 5px);
    float: left;
}

#suffix {
    width: calc(50% - 5px);
    float: right;
}

#go {
    float: right;
}

#main {
    float: left;
}

#warningBar {
    height: 20px;
    background-color: #FF0000;
    margin-top: 0px
    text-align: center;
}

/* Callouts from the bootstrap website.*/

.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #dFb5b4;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.bs-callout-danger h4 {
color: #B94A48;
}
.bs-callout-warning h4 {
color: #C09853;
}
.bs-callout-info h4 {
color: #3A87AD;
}
/* END Callouts from the bootstrap website.*/