BODY {
    margin-left: 50%;
    width: calc(100% - 20px);
    max-width: 1000px;
    transform: translate(-50%, 0);
}

U {
    color: red;
}

TEXTAREA {
    resize: none;
}

.margins {
    margin-top: 10px;
}

#prefix {
    width: calc(50% - 5px);
    float: left;
}

#suffix {
    width: calc(50% - 5px);
    float: right;
}

#go {
    float: right;
}

#main {
    float: left;
}