BODY {
    background: URL(//rx14.co.uk/assets/img/background.png);
}

#main {
    margin-left: 50%;
    width: calc(100% - 20px);
    max-width: 1000px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

TEXTAREA {
    resize: none;
}

.margins {
    margin-top: 10px;
}

#prefix {
    float: left;
}

#suffix {
    float: right;
}

#go {
    float: right;
}

#input {
    float: left;
}

#warningBar {
    height: 20px;
    background-color: #FF0000;
    margin-top: 0px
    text-align: center;
}

.addthis_toolbox.mobile {
    margin-left: calc(50% - 122px);
}

/*------BEGIN RESPONSIVE------*/
/*On desktop make prefix and suffix side-by-side*/
@media screen and (min-width: 750px) {
    #prefix, #suffix {
        width: calc(50% - 5px);
    }
}

/* When it doesn't fit hide social media.*/
@media screen and (max-width: 1160px) {
    .addthis_toolbox.desktop {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
    }
    
    .addthis_toolbox.mobile {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s linear;
    }
}

/* When it doesn't fit hide gh fork.*/
@media screen and (max-width: 1260px) {
    #gh-fork {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
    }
}

/* When it doesn't fit hide gh fork.*/
@media screen and (min-width: 1260px) {
    #gh-fork {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s linear;
    }
}

/* When it doesn't fit hide social media.*/
@media screen and (min-width: 1160px) {
    .addthis_toolbox.mobile {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear; 
    }
    
    .addthis_toolbox.desktop {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s linear;
    }
}

/* small devices */
@media screen and (max-width: 750px) {
    #main {
        min-width: 90%;
    }
}

/*------END RESPONSIVE------*/

/* Callouts from the bootstrap website.*/

.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #dFb5b4;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.bs-callout-danger h4 {
color: #B94A48;
}
.bs-callout-warning h4 {
color: #C09853;
}
.bs-callout-info h4 {
color: #3A87AD;
}
/* END Callouts from the bootstrap website.*/